<div ng-controller="IndexController">

  <super-navbar>
      <super-navbar-title>
          Talking About Sex With Men
      </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/sex_questions_to_ask_men_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--sex-questions-men"> SEX QUESTION TO<br> ASK YOUR MAN</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #D12E41;">
      <div class="super-heart col col-5 col-center"></div>
      <div class="col col-90"> The more you know about your partner sexually, the better lover you are and the better sex you have.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p> It also brings committed partners much closer and fosters trust and intimacy both in and out of the bedroom. Here are the best questions to ask your lover – not all at once, of course! Pick one or two to discuss the next time you are feeling relaxed and content together. The answers will create a sexual 'Love Map' that you and your partner will want to navigate again and again as you learn about each other’s hot buttons.</p>
  </div>

  <super-navigate view-id="begin-questions">
      <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>